body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
canvas {
  border: white solid 3px;
  position: absolute;
  width: 600px;
  height: 600px;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);
  touch-action: none;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
  height: 700px;
  width: 600px;
  background-color: transparent;
  touch-action: none;
}
.saveBtn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  position: absolute;
  bottom: 45px;
  left: 50px;
  font-size: 1.5rem;
  padding: 1px 20px;
  cursor: pointer;
}
.clearBtn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  position: absolute;
  bottom: 45px;
  left: 200px;
  font-size: 1.5rem;
  padding: 1px 20px;
  cursor: pointer;
}
.clearBtn:hover,
.saveBtn:hover {
  background-color: red;
}
.slider1 {
  position: absolute;
  bottom: 7%;
  left: 350px;
  width: 150px;
  cursor: pointer;
}

